@import "tailwindcss";

@theme {
  /* Font */
 --font-sans: var(--font-clash-grotesk);

  /* Brand Green */
  --color-green-50: #e0f0ec;
  --color-green-100: #d0f0df;
  --color-green-200: #c2f5da;
  --color-green-300: #84e8b4;
  --color-green-400: #3ee089;
  --color-green-500: #1fc16b;
  --color-green-600: #1daf61;
  --color-green-700: #178c4e;
  --color-green-800: #1a7544;
  --color-green-900: #16643b;
  --color-green-950: #0b4627;

  /* Neutral */
  --color-black: #000000;
  --color-white: #ffffff;

  /* Grey */
  --color-grey-25: #fafafa;
  --color-grey-50: #f6f6f6;
  --color-grey-100: #f3f3f3;
  --color-grey-200: #ebebeb;
  --color-grey-300: #d1d1d1;
  --color-grey-400: #a3a3a3;
  --color-grey-500: #7a7a7a;
  --color-grey-600: #5c5c5c;
  --color-grey-700: #333333;
  --color-grey-800: #292929;
  --color-grey-900: #1d1d1d;
  --color-grey-950: #171717;
}

body {
  font-family: var(--font-clash-grotesk), sans-serif;
}